.iconhh {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 13px;
    height: 13px;
}
.spanAn {
    width: 3px;
    height: 100%;
    background-color: orange;
    border-radius: 3px;
    content: "";
}

.spanAn {
    width: 3px;
    height: 20%;
    background-color: orange;
    border-radius: 3px;
    animation: bounce 2.2s ease infinite alternate;
    content: "";
}

.spanAn:nth-of-type(2) {
    animation-delay: -2.2s;
    /* Start at the end of animation */
}
.spanAn:nth-of-type(3) {
    animation-delay: -3.7s;
    /* Start mid-way of return of animation */
}
